{% extends 'layouts/base.html' %}
{% load static file_extension info_value %}

{% block extrastyle %}
<style>
  .file-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
  }
  .file-item {
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f9f9f9;
    position: relative;
  }
  .file-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  .actions {
    display: flex;
    justify-content: space-between;
  }
  .icon {
    cursor: pointer;
  }
  .pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
  .pagination a, .pagination span {
    margin: 0 10px;
  }
  .check-button {
    position: absolute;
    top: 10px;
    right: 15px;
  }
  /* Estilos para el botón "Ver Todos" */
  .view-all-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007BFF; /* Azul Bootstrap */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); /* Sombra sutil */
    transition: background-color 0.3s, box-shadow 0.3s;
  }
  .view-all-btn:hover {
    background-color: #0056b3; /* Azul más oscuro para el hover */
    box-shadow: 0 6px 10px rgba(0,0,0,0.15); /* Sombra más pronunciada para el hover */
  }
</style>
{% endblock %}

{% block content %}
<div class="container-fluid py-4 px-5">
  <div class="file-grid">
    {% for file in page_obj %}
    <div class="file-item" data-bs-toggle="tooltip" title="{{ file.file_path|info_value }}">
      <input type="checkbox" class="check-button"> <!-- Checkbox para seleccionar archivos -->
      <div>
        <strong>File: </strong>{{ file.filename }}
        <div><strong>Type: </strong>{{ file.filename|file_extension|upper }}</div>
      </div>
      <div class="file-preview">
        {% if file.filename|is_image %}
        <img src="/media/{{ file.file }}" alt="{{ file.filename }}" class="file-image">
        {% else %}
        <span>Non-image file</span>
        {% endif %}
      </div>
      <div class="actions">
        <span class="icon" data-bs-toggle="modal" data-bs-target="#info-{{forloop.counter}}">
          <i class="fa-solid fa-info text-success"></i>
        </span>
        <span class="icon" data-bs-toggle="modal" data-bs-target="#view-{{forloop.counter}}">
          <i class="fa-solid fa-eye text-primary"></i>
        </span>
      </div>
    </div>
    {% endfor %}
  </div>
  
  <!-- Paginación -->
  <div class="pagination">
    {% if page_obj.has_previous %}
      <a href="?page=1">Primera</a>
      <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
    {% endif %}
    <span>Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.</span>
    {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}">Siguiente</a>
      <a href="?page={{ page_obj.paginator.num_pages }}">Última</a>
    {% endif %}
  </div>

  <!-- Botón flotante "Ver Todos" -->
  <button onclick="viewSelected()" class="view-all-btn">Ver Todos</button>
</div>
{% endblock %}

{% block extrascripts %}
<script>
function viewSelected() {
    const selectedFiles = document.querySelectorAll('.check-button:checked');
    console.log(selectedFiles);
}
</script>
{% endblock %}




