{% extends 'layouts/base.html' %}
{% load static file_extension info_value %}

{% block extrastyle %}
<style>
  .file-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
  }
  .file-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f9f9f9;
    position: relative;
    height: 100%;
  }
  .file-image {
    width: 100%;
    max-height: 150px;
    object-fit: contain;
    margin-bottom: 10px;
  }
  .actions {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
  }
  .icon {
    cursor: pointer;
  }
  .pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
  .pagination a, .pagination span {
    margin: 0 10px;
  }
  .check-button {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .view-all-btn {
    position: fixed;
    bottom: 80px; /* Ajusta esta distancia según sea necesario */
    right: 20px;
    z-index: 1000;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transition: background-color 0.3s, box-shadow 0.3s;
  }
  .view-all-btn:hover {
    background-color: #0056b3;
    box-shadow: 0 6px 10px rgba(0,0,0,0.15);
  }
  .clear-session-btn {
    position: fixed;
    bottom: 20px; /* Ajusta esta distancia según sea necesario */
    right: 20px;
    z-index: 1000;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #FF0000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transition: background-color 0.3s, box-shadow 0.3s;
  }
  .clear-session-btn:hover {
    background-color: #CC0000;
    box-shadow: 0 6px 10px rgba(0,0,0,0.15);
  }
  .file-viewer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    padding: 20px;
    overflow: auto;
  }
  .file-viewer img, .file-viewer video, .file-viewer iframe {
    max-width: 100%;
    max-height: 80vh;
    object-fit: contain;
  }
  .file-viewer pre {
    width: 100%;
    max-height: 80vh;
    overflow: auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: #333;
    color: #fff;
    padding: 10px;
  }
  .file-info {
    text-align: center;
    margin-top: 10px;
    word-break: break-all;
  }
</style>
{% endblock %}

{% block content %}
{% if not file_name %}
<div class="container-fluid py-4 px-5">
  <form id="selectedFilesForm" method="POST" action="{% url 'view_selected_files' %}">
    {% csrf_token %}
    <div class="file-grid">
      {% for file in page_obj %}
      <div class="file-item" data-bs-toggle="tooltip" title="{{ file.file_path|info_value }}">
        <input type="checkbox" class="check-button" name="selected_files" value="/media/{{ file.temp }}" 
       {% if "/media/"|add:file.temp in request.session.selected_files %}checked{% endif %}>

        <div class="file-info">
          <strong>Archivo: </strong>{{ file.filename }}
          <div><strong>Tipo: </strong>{{ file.filename|file_extension|upper }}</div>
        </div>
        <div class="file-preview">
          {% if file.filename|is_image %}
          <img src="/media/{{ file.temp }}" alt="{{ file.filename }}" class="file-image">
          {% else %}
          <span>No es una imagen</span>
          {% endif %}
        </div>
        <div class="actions">
          <span class="icon" data-bs-toggle="modal" data-bs-target="#info-{{forloop.counter}}">
            <i class="fa-solid fa-info text-success"></i>
          </span>
          <span class="icon" data-bs-target="#view-{{forloop.counter}}">
            <a href="{% url 'file_manager' file.path %}">
              <i class="fa-solid fa-eye text-primary"></i>
            </a>
          </span>
        </div>
      </div>
      {% empty %}
      <p>No hay archivos</p>
      {% endfor %}
    </div>
    <div class="pagination">
      {% if page_obj.has_previous %}
      <a href="?page=1">Primera</a>
      <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
      {% endif %}
      <span>Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.</span>
      {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}">Siguiente</a>
      <a href="?page={{ page_obj.paginator.num_pages }}">Última</a>
      {% endif %}
    </div>
    <div class="directory-list">
      <h3>Carpetas</h3>
      {% for directory in directories %}
      <div class="directory-item">
        <strong>Directory:</strong> {{ directory.name }}
        <div><strong>Path:</strong> {{ directory.path }}</div>
        <a href="{% url 'file_manager' directory.path %}" class="btn btn-primary btn-sm">Abrir</a>
      </div>
      {% empty %}
      <p>No hay directorios</p>
      {% endfor %}
    </div>
    <div class="pagination">
      {% if page_obj_dir.has_previous %}
      <a href="?page_dir=1">Primera</a>
      <a href="?page_dir={{ page_obj_dir.previous_page_number }}">Anterior</a>
      {% endif %}
      <span>Página {{ page_obj_dir.number }} de {{ page_obj_dir.paginator.num_pages }}.</span>
      {% if page_obj_dir.has_next %}
      <a href="?page_dir={{ page_obj_dir.next_page_number }}">Siguiente</a>
      <a href="?page_dir={{ page_obj_dir.paginator.num_pages }}">Última</a>
      {% endif %}
    </div>
    <button type="button" onclick="viewSelected()" class="view-all-btn">Ver Todos</button>
    <button type="button" class="clear-session-btn" data-bs-toggle="modal" data-bs-target="#clearSessionModal">
      Limpiar Sesión
    </button>
  </form>
</div>
{% else %}
<div class="container">
  <div class="file-viewer">
    {% if file_path %}
    {% if file_name|file_extension in ".jpg, .png, .jpeg, .gif" %}
    <img src="/media/{{ temp }}" alt="{{ file_name }}">
    {% elif file_name|file_extension in ".mp4, .webm, .ogg, .wav, .mp3, .opus, .tts, .m4a" %}
    <video controls>
      <source src="/media/{{ temp }}" type="video/mp4">
    </video>
    {% elif file_name|file_extension in ".pdf, .txt" %}
    <iframe src="/media/{{ temp }}" frameborder="0"></iframe>
    {% elif file_name|file_extension in ".csv" %}
    <pre class="bg-dark text-light p-3">{{ csv_text }}</pre>
    {% endif %}
    {% else %}
    <p>No file selected.</p>
    {% endif %}
  </div>
</div>
{% endif %}

<!-- Modal for Clearing Session -->
<div class="modal fade" id="clearSessionModal" tabindex="-1" aria-labelledby="clearSessionModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="clearSessionModalLabel">Confirmar Limpieza de Sesión</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ¿Estás seguro de que deseas limpiar la sesión?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" onclick="clearSession()">Limpiar Sesión</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal for File Info -->
{% for file in page_obj %}
<div class="modal fade" id="info-{{forloop.counter}}" tabindex="-1" aria-labelledby="infoModalLabel-{{forloop.counter}}" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="infoModalLabel-{{forloop.counter}}">Información del Archivo</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p><strong>Archivo: </strong>{{ file.filename }}</p>
        <p><strong>Tipo: </strong>{{ file.filename|file_extension|upper }}</p>
        <p><strong>Ruta: </strong>{{ file.file_path }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% endblock %}

{% block extrascripts %}
<script>
function viewSelected() {
    const selectedFilesForm = document.getElementById('selectedFilesForm');
    selectedFilesForm.submit();
}
function clearSession() {
  fetch("{% url 'clear_session' %}", {
      method: 'POST',
      headers: {
          'Content-Type': 'application/json',
          'X-CSRFToken': '{{ csrf_token }}'
      }
  }).then(response => {
      if (response.ok) {
          window.location.reload();
      } else {
          alert('Error al limpiar la sesión');
      }
  });
}

// Close other modals when opening a new one
document.querySelectorAll('[data-bs-toggle="modal"]').forEach(button => {
    button.addEventListener('click', () => {
        document.querySelectorAll('.modal.show').forEach(modal => {
            bootstrap.Modal.getInstance(modal).hide();
        });
    });
});
</script>
{% endblock %}
